body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav-link{
  margin-left: 40px;
}

.footer-ancher{
  text-decoration: none;
  color: black;
}

.universe-image img{

  width:200px;
}

.universe-image p{

  margin-top:20px;
  font-size: 13px;
}

.pricing img{
  width: 250px;
}

.pricing h2{
  margin-bottom: 25px;
  font-size: 15px;
}

.pricing1 h4 {
  font-size: 15px;
  margin-bottom: 6px;
}

.pricing1 h1{
  font-size: 30px;
  margin-bottom: 25px;
}

.pricing1 p{
  font-size: 15px;
}

.pricing1{
  line-height: 2;
}




.btn-icon-dropdown{
  text-align: right !important;
}

.btn-text{

  text-align: left !important;
}

.btn-group{
   width: 100%;
 margin-top: 15px;
 background: #fefdfd !important;
  border: 1px solid black !important;
  border-radius: 0% !important;
}

.left-red{
  border-left: 10px solid rgb(212, 147, 7);
  background-color: rgb(248, 248, 166);
  margin-top: 15px;
}

.supportTable{
  background-color: rgb(202, 198, 198);
}

.supportTableRow{
  height: 250px;
  text-align:justify;
}

.supportTableRow a{
   text-decoration: none;
   font-size: 17px;   
}

.left-margin-support{
  margin-left: 35px !important;
}

.supportHero{
  background-color: rgb(200, 194, 194);
}
.supportSearch input {
  border: none;
  outline: none;
  box-shadow: none;
}

.supportSearch input:focus {
  border: none;
  outline: none;
  box-shadow: none;
}

.supportDiv{
  border: gray !important;
}

.createTicket .dropdown-toggle {
  border: none;
  outline: none;
  box-shadow: none;
}

.createTicket .dropdown-toggle:focus{
  border: none;
  outline: none;
  box-shadow: none;
}


